html, body{
    height:100%;
    margin: 0;
}
.wrapper{
    min-height:100%;
    margin-bottom:-50px;
    padding-top:50px;
}
.footer-content, .push{
    height:50px;
}
.wrapper .content{
    padding: 20px 10px;
}

/*移动端自适应*/
#toggle-checkbox:checked ~ div{
    display: block !important;
}

.toggle-label{
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 15px;
    font-weight: normal;
    color: #777;
}
.toggle-label:hover{
    color: #333;
}

body {
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #777;
}
.bannerholder{
    background-color:#1960a1;
    padding: 30px 0 30px;
}
.secondsubpageheader h1{
    color:#FFF;
    font-size: 50px;
    padding-top: 0;
    font-weight: 300;
}

/*sidebar*/
.sidebar{
    /*margin-bottom: 50px;*/
    background-color: #F6F6F6;
    padding: 40px 10px 40px 40px;
}
.sidebar h2{
    margin-top: 0;
    color: #3b3b3b;
    font-size: 20px;
    font-weight: bold;
}
.sidebar ul {
    list-style: none;
    padding-left: 0;
}
li a {
    color: #1b6bb1;
    margin-bottom: 20px !important;
    font-size: 18px;
}
.sidebar .post-date {
    display: block;
    color: #777;
}

a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}