/*post-info*/
.post-title{
    font-size:30px;
    line-height:1.5;
    font-weight:bold;
}
.post-info{
    line-height:1.8;
    font-size:15px;
}
.post-info label{
    opacity:0.8;
}
label span{
    margin: 0 5px 0 3px;
}
.post-body{
    padding-top:15px;
    font-size:15px;
    line-height:1.5;
}

/*like & donate*/
.thumbs_content{
    width: 291px;
    margin: 0 auto;
    padding-top: 30px;
}
.thumbs_button{
    float: left;
    width:145px;
    text-align: center;
    margin:5px auto;
    height: 45px;
    line-height: 45px;
    background:#86b535;
    color:#fff;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
    transition: all 0.3s;
    border-radius: 0 0 0 25px;
    -webkit-border-radius: 0 0 0 25px;
    -moz-border-radius: 0 0 0 25px;
    -o-border-radius: 0 0 0 25px;
}
.reward_button{
    float: left;
    width:145px;
    text-align: center;
    margin:5px auto;
    height: 45px;
    line-height: 45px;
    background-color:#286090;
    color:#fbfbfb;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
    border-left:1px solid #fbfbfb;
    transition: all 0.3s;
    border-radius: 0 25px 0 0;
    -webkit-border-radius: 0 25px 0 0;
    -moz-border-radius: 0 25px 0 0;
    -o-border-radius: 0 25px 0 0;
}
.thumbs_button:hover, .reward_button:hover{
    opacity:0.8;
    font-size:18px;
    background:#333;
    color:white;
}
/*.clear{*/
    /*clear:both;*/
/*}*/

/* comment */
.comment-area{
    margin:10px 0;
    padding-top: 20px;
}
.comment-area #comment-form{
    margin-bottom: 100px;
}
.comment-area > a{
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    padding: 0.2rem 2rem;
    word-spacing: 3px;
    text-transform: uppercase;
    margin: 1rem 0.2rem;
    cursor: pointer;
    font-size: 1.85rem;
    color: #111111;
    background-color: #2ECC71;
}
.comment-content{
    position:relative;
    padding: 20px 0 10px 0;
    margin: 20px 0 15px 0;
    border-bottom:1px solid #ddd
}
.comment-content img{
    top:-15px;
    border:4px solid #fff;
    border-radius: 50%;
    vertical-align:middle;
}
.comment-content small{
    float:right;
    font-size:12px;
    margin-top:-10px;
    font-style: italic;
}
.comment-content .reply{
    float:right;
    margin-top:-10px;
    font-size:12px;
    font-style: italic;
    width:50px;
    border-radius:30px;
    color:#000;
    text-align:center;
}
.comment-content .reply:hover{
    background-color: #007bff;
}
.comment-content h4{
    font-size:18px;
    margin:-12px 0 35px 90px;
    padding:0;
}
.comment-content p{
    margin: 0 0 20px 0;
}
.reply-content{
    margin-left: 6rem;
    margin-top: 1rem;
}
.comment-count span{
    margin: 0 3px;
}

/*post-nav*/
.post-nav{
    clear:both;
    margin:10px;
}
